@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


/* Header */

.header{
  width: 100%;
  height: 100px;
  background: url(bg.png) no-repeat 50% 50%;
  background-size: cover;
  margin-top: 80px;
}

/* Alignment in Header */

#main {
  width: 100%;
  height: 100px;
  display: flex;
  text-align: center;
}

div#main {
  display:flex;    
  align-items:center;
}

#main div {
   flex: 1;
}

.main .img{
  margin-right: 30px;
}

body {
  font-family: "Poppins;
}

header{
  width: 100%;
  background-color: #1C1E1F;
  padding: 10px 0;
  color: white;
}

.btn {
  background-color: #C4C4C4;
  border: none;
  color: white;
  padding: 5px 8px;
  font-size: 12px;
  cursor: pointer;
}

p {
  font-size: 1.2em;
  line-height: 1.8em;
  font-weight: 300;
  color: #777;
  margin: 30px 0;
} 
.line {
  width: 100%;
  height: 1px;
  margin: 30px 0;
  border-bottom: 1px dashed #ddd;
}

.content {
  padding: 50px 0;
}

.navbar-brand img{
  width: 30%;
  height: 30%;
  margin-right: 150px;
}

/* Modify the backgorund color */
.navbar-custom {
    background-color: #1C1E1F;;
}
.navbar-light .navbar-brand{
    color:#fff;
}
.navbar-collapse .nav-link{
    color:#fff !important;
	text-align: right;
}

.navbar-nav > a{
    margin-left: 60px;
    margin-right: 10px;
  }

 @media only screen and (max-width:991px){
    .navbar-custom .navbar-nav .nav-link:hover{
      transition: 0.5s;
      transform-origin: center;
      transform: scale(1.2);
      background-color: #fff;
      color: #151515 !important;
    }
  }
.goTop{
  position: fixed;
  z-index: 999;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: #48dbfb;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  outline: none;
  display: none;
}

.addcart-icon {
  position: absolute;
  top: 28px;
  left: 60%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  background-color: black;
  border-radius: 100%;
  margin-bottom: 20px;
}

span.addcart-text {
  color: white;
  font-weight: bolder;
  font-size: 10px;
}